@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@using SmartMealCalculator.Models
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <InputText @bind-Value="loginModel.Email" />
    <InputText type="password" @bind-Value="loginModel.Password" />

    <button type="submit">Logga in</button>
</EditForm>
<EditForm Model="@registerModel" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />

    <InputText @bind-Value="registerModel.Email" />
    <InputText type="password" @bind-Value="registerModel.Password" />
    <InputText type="firstname" @bind-Value="registerModel.Firstname" />
    <InputText type="lastname" @bind-Value="registerModel.Lastname" />

    <button type="submit">Register</button>
</EditForm>

@code {
    private LoginModel loginModel = new();
    private RegisterModel registerModel = new();

    private async Task HandleLogin()
    {
        // Implement your login logic here using AuthenticationStateProvider
        // Example:
        if (loginModel.Email == "test@test.com" && loginModel.Password == "password")
        {
            Navigation.NavigateTo("/");
        }
    }
    private async Task HandleRegistration()
    {
        
    }
}