    .add-ing ::deep .blazored-typeahead__input:focus {
        border: 1px solid #1a649c;
        box-shadow: 0 0 5px rgba(26, 100, 156, 0.5);
    }

    .add-ing ::deep .blazored-typeahead {
        width: 40%;
    }

    .add-ing ::deep .blazored-typeahead__input {
        width: 40%;
        background: #2C2F33;
        border-radius: 8px;
        color: #ecf0f1;
        padding: 0px 0px;
        font-size: 14px;
        font-weight: 400;
        outline: none;
    }

.blazored-typeahead {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fafafb;
    border: 1px solid #d0dee1;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    color: #313338;
    padding: 0px, 0px !important;
}

::deep .blazored-typeahead {
    height: 38px;
}

::deep .blazored-typeahead__controls {
    height: 100%;
}

::deep .blazored-typeahead__result {
    color: #313338;
    width: 400px;
}

::deep .blazored-typeahead__results {
    color: #313338;
    width: 400px;
}

::deep .blazored-typeahead__clear {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.0rem;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 100px;
}
.SignalRmessage {
    justify-content: left;
}

@media (max-width: 768px) {
    .add-ing {
        flex-direction: column;
        gap: 5px;
        padding: 8px;
        font-size: 0.8rem;
    }

        .add-ing input, .add-ing ::deep .blazored-typeahead__input {
            width: 100% !important;
            font-size: 14px;
            padding: 6px 10px;
        }

        .add-ing button {
            width: 100%;
            padding: 8px;
        }

    .ingredient-row, .active-ingredient-row, .div.active-ingredient-row {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
        background-color: #313338 !important;
    }

        .ingredient-row span, .active-ingredient-row span {
            width: 100%;
            text-align: left;
            padding: 0px 10px;
            border-radius: 8px;
            margin-bottom: 4px;
            background-color: rgba(255, 255, 255, 0.1);
            display: inline-block;
        }

            .ingredient-row span:last-child, .active-ingredient-row span:last-child {
                text-align: left;
                margin-bottom: 0;
            }

    ::deep .blazored-typeahead {
        width: 100% !important;
    }

    ::deep .blazored-typeahead__results {
        width: 100% !important;
    }
}
